body {
  margin: 0;
  height: 100vh;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.player {
  width: 320px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.player img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

audio {
  width: 100%;
  margin: 10px 0;
}

.song {
  background: #2b2b2b;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
}

.song:hover {
  background: #444;
}
